* {
    box-sizing: border-box;
}

body {
    font-family: 'Lustria', serif;
    font-size: 15px;
    color: rgb(0,0,0);
    
}
.row{
    margin-bottom: 20px;
}
nav{
    /* background-color:#ffffff; */
    background: rgb(225,242,247);
    
}
p{
    font-style: italic;
}
.col-1{
    margin: 0 30px 0 30px;
}
.fab{
    background-color: rgb(239,13,80);
    border: 1px solid #700626;
    border-radius: 50%;
    padding: 15px;
    margin-top: 10px;
    box-shadow:  10px 8px 20px #888888;
}
.fa{
    background-color: rgb(239,13,80);
    border: 1px solid #700626;
    border-radius: 50%;
    padding: 15px;
    margin-top: 10px;
    box-shadow:  10px 8px 20px #888888;
}
.i{
    font-size: 10px;
}
.icon{
    text-align: center;
   
}

.navbar{
    margin-bottom: 10px;
}
.navbar-light .navbar-brand{
    color: rgb(239,13,80);
    padding: 1.3125rem;
    font-size: 1.48rem;
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;
    white-space: normal;
    
}
.navbar-light .navbar-toggler{
    color: rgb(239,13,80);
    border: 1px solid rgb(239,13,80);
}
.navbar-toggler-icon{
    color: rgb(239,13,80);
  
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(239,13,80);
}
.nav-item{
    color: black;
    padding-left: 20px;
}
.navbar-light .navbar-brand:hover{
    color:#DE534B;
}
.nav-item{
    color: black;
}
.container{
    padding: 1.3125rem;
    margin: 0px auto 0px auto;
}
.form-group{
    color: black;
}
h1 {
    color:rgb(239,13,80);
    padding-bottom: 0px;
    font-size: 1.5rem;
    line-height: 49px;
    border-bottom: 3px solid #E5BACE;
    font-family: 'Merriweather', serif;
  }
img{
    max-width: 375px;
    max-height: 250px;
    margin: 10px 10px 10px 0px;
    height: fit-content;
    border: 1px solid black;
}

h6{
    color: rgb(239,13,80);
    bottom: 40px;
    max-width: 275px;
    text-align: center;
    margin-top: 20px;
}
h4:hover{
    color: #DE534B;
}
h5{
    text-align: center;
    margin: 50px 0 50px 0;
    color: rgb(239,13,80);
}
h7{
    font-weight: bold;
}
a{
    color: rgb(239,13,80);
}
.btn-primary{
    background-color: rgb(239,13,80);
    border-color:rgb(239,13,80);
}
.btn-primary:hover{
    background-color: #DE534B;
}

.about{
    padding-top: 15px;
    
}
#in-icon, #email-icon{
   margin: 10px 0 30px 0;
   text-align: center;
   font-size: 17px;
}
#profile-img{
    border: 5px solid white;
    margin-right: 30px;
    box-shadow: 10px 8px 20px #888888;
}
footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: black;
    text-align: center;
    background: rgb(225,242,247);
    
    border-top: 8px solid rgb(239,13,80);
  
    
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-top: 10px;
  }

  @media only screen and (max-width: 991px){
    .row{
        margin-bottom: 0;
    }
  }
  @media only screen and (max-width: 555px){
    .col-2{
        flex: 1 0 16.666667%;
        max-width: none;
    } 
    
  }
  @media only screen and (max-width: 430px){
    .navbar-toggler{
       float: none;
       text-align: center;
       margin: 0 auto;
    }
  }
  @media only screen and (max-width: 375px){
    #in-icon, #email-icon{
        display: block;
        font-size: 12px;
    }
    #profile-img{
        max-width: 350px;
        max-height: 200px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
} 

 
